mixin all-resume()
  +b('section').all-block.all-resume
    +e('img')(src='assets/images/bg-dots.png' alt='').dots2
    +e.circle
    +e.content
      +b('button').filter-btn.jsShowFilter Фильтр
      +b.container
        +b.v-content-top
          +b.home__aside-header
            +b.logo
              +e.img
                +e('img').main(src='assets/images/logo.png' alt='')
                +e('img').info(src='assets/images/ico-i.png' alt='')
              +e('span').text Актуальных вакансий сейчас
            +b.search
              +e('input')(type='text' placeholder='Поиск')
              +b('button').btn-red
                +b('i').fa.fa-search
        +b.v-content-bottom.container-for-sidebar
          +b.filter-overlay.jsFilterOverlay
          +e.left.sidebar.jsOpenFilter#sidebar
            +b.filter-close.jsHideFilter
              +e('span')
              +e('span')
            +b.sidebar-inner
              +b.vl-block
                +e('select').cities.jsCitiesSelect
                  +e('option') Донецк
                  +e('option') Макеевка
                  +e('option') Луганск
                  +e('option') Луганск
                  +e('option') Луганск
                  +e('option') Луганск
                  +e('option') Луганск
                  +e('option') Луганск
                  +e('option') Луганск
                  +e('option') Луганск
                  +e('option') Луганск
                  +e('option') Луганск
              +b.vl-block
                +e.head.jsOpenCheck
                  +e('p') Требуемый опыт
                  +b('span').jsBtnPlus +
                  +b('span').jsBtnMinus.btn-active -
                +e.check.jsCheckBlock
                  +b('label').checkbox
                    +b('input')(type='checkbox')
                    +b('div').checkbox__text Formal
                  +b('label').checkbox
                    +b('input')(type='checkbox')
                    +b('div').checkbox__text Boots
                  +b('label').checkbox
                    +b('input')(type='checkbox')
                    +b('div').checkbox__text Plimsolls / Espadrilles
                  +b('label').checkbox
                    +b('input')(type='checkbox')
                    +b('div').checkbox__text Loafers / Brogues
                  +b('label').checkbox
                    +b('input')(type='checkbox')
                    +b('div').checkbox__text Flip Flops
              +b.vl-block
                +e.head.jsOpenCheck
                  +e('p') Категория
                  +b('span').jsBtnPlus +
                  +b('span').jsBtnMinus.btn-active -
                +e.check.jsCheckBlock
                  +b('label').checkbox
                    +b('input')(type='checkbox')
                    +b('div').checkbox__text Black
                  +b('label').checkbox
                    +b('input')(type='checkbox')
                    +b('div').checkbox__text Brawn
                  +b('label').checkbox
                    +b('input')(type='checkbox')
                    +b('div').checkbox__text Blue
                  +b('label').checkbox
                    +b('input')(type='checkbox')
                    +b('div').checkbox__text Grey
                  +b('label').checkbox
                    +b('input')(type='checkbox')
                    +b('div').checkbox__text Khaki
                  +b('label').checkbox
                    +b('input')(type='checkbox')
                    +b('div').checkbox__text Navy
                  +b('label').checkbox
                    +b('input')(type='checkbox')
                    +b('div').checkbox__text Orange
                  +b('label').checkbox
                    +b('input')(type='checkbox')
                    +b('div').checkbox__text Purple
                  +b('label').checkbox
                    +b('input')(type='checkbox')
                    +b('div').checkbox__text Red
              +b.vl-block
                +e.head.jsOpenCheck
                  +e('p') Вид занятости
                  +b('span').jsBtnPlus +
                  +b('span').jsBtnMinus.btn-active -
                +e.check.jsCheckBlock
                  +b('label').checkbox
                    +b('input')(type='checkbox')
                    +b('div').checkbox__text Formal
                  +b('label').checkbox
                    +b('input')(type='checkbox')
                    +b('div').checkbox__text Boots
                  +b('label').checkbox
                    +b('input')(type='checkbox')
                    +b('div').checkbox__text Plimsolls / Espadrilles
                  +b('label').checkbox
                    +b('input')(type='checkbox')
                    +b('div').checkbox__text Loafers / Brogues
                  +b('label').checkbox
                    +b('input')(type='checkbox')
                    +b('div').checkbox__text Flip Flops
              +b.vl-block.no-border
                +e.head.jsOpenCheck
                  +e('p') Зарплата
                  +b('span').jsBtnPlus +
                  +b('span').jsBtnMinus.btn-active -
                +e.inputs.jsCheckBlock
                  +e('input')(type='text')
                  +e('input')(type='text')
              +b('button').vl-btn.btn-card.btn-red Применить
          +e.center.scroll
            +b.single-card-resume
              +e.top
                +e('img')(src='assets/images/resume_image_1.png' alt='').left-img
                +e.top-left
                  +e.head
                    +e('h3') Главный механик, помощник руководителя
                    +e('p').status.vr-head Онлайн
                  +e('span').price 260-400 EUR
                  +e('p').name Бакланов Роман · 28 лет · Донецк
                  +e('p').employment частичная занятость, проектная работа, полная занятость
                  +e('p').last-work Последнее место работы
                  +e('p').name-work Инженер-проектировщик, ООО Альфа Алюминий,
                  +e('p').date-work Октябрь 2018 — по настоящее время
                  +e('p').last-check Обновлено 15 апреля, 14:11
              +e.bottom
                +e.soc
                  +e('p') Написать соискателю в сетях
                  +e.soc-block
                    +b('a')(href='#').vk-bg
                      +e('img')(src='assets/images/vk.svg' alt='')
                    +b('a')(href='#').ok-bg
                      +e('img')(src='assets/images/ok.svg' alt='')
                    +b('a')(href='#').fb-bg
                      +e('img')(src='assets/images/fb.svg' alt='')
                    +b('a')(href='#').inst-bg
                      +e('img')(src='assets/images/instagram.svg' alt='')
                a.btn-card.btn-red.jsSendMessage(data-id="1") Откликнуться
            +b.single-card-resume
              +e.top
                +e.top-left
                  +e.head
                    +e('h3') Главный механик, помощник руководителя
                    +e('p').status.vr-head Онлайн
                  +e('span').price 260-400 EUR
                  +e('p').name Бакланов Роман · 28 лет · Донецк
                  +e('p').employment частичная занятость, проектная работа, полная занятость
                  +e('p').last-work Последнее место работы
                  +e('p').name-work Инженер-проектировщик, ООО Альфа Алюминий,
                  +e('p').date-work Октябрь 2018 — по настоящее время
                  +e('p').last-check Обновлено 15 апреля, 14:11
              +e.bottom
                +e.soc
                  +e('p') Написать соискателю в сетях
                  +e.soc-block
                    +b('a')(href='#').vk-bg
                      +e('img')(src='assets/images/vk.svg' alt='')
                    +b('a')(href='#').ok-bg
                      +e('img')(src='assets/images/ok.svg' alt='')
                    +b('a')(href='#').fb-bg
                      +e('img')(src='assets/images/fb.svg' alt='')
                    +b('a')(href='#').inst-bg
                      +e('img')(src='assets/images/instagram.svg' alt='')
                a.btn-card.btn-red.jsSendMessage(data-id="1") Откликнуться
          +b.soc-sidebar#sidebar-vr
            .sidebar-inner
              +b('p').vr-head Прямой эфир
              +b.vr-card
                +e.head
                  +e.head-image
                    +e('img')(src='assets/images/vr_card_image.png' alt='')
                  +e.name-time
                    +e('p').name Дмитрий Иванов
                    +e('span').time 2 минуты назад
                +e('p').text Ресторану-пивоварне «Beerstown” требуются официанты. Проживание желательно в Будённовском
                  | или Пролетарском р-не г.Донецка. Все вопросы по телефону: 071-310-69-69
                +e.bottom
                  +e('span')
                    +e('img')(src='assets/images/like.svg' alt='')
                    | Нравится 96
                  +e('span')
                    +e('img')(src='assets/images/chat.svg' alt='')
                    | Комментировать 5
                  +e('span')
                    +e('img')(src='assets/images/speaker-side-view.svg' alt='')
                    | 4
              +b.vr-card
                +e.head
                  +e.head-image
                    +e('img')(src='assets/images/vr_card_image.png' alt='')
                  +e.name-time
                    +e('p').name Дмитрий Иванов
                    +e('span').time 2 минуты назад
                +e('p').text Ресторану-пивоварне «Beerstown” требуются официанты. Проживание желательно в Будённовском
                  | или Пролетарском р-не г.Донецка. Все вопросы по телефону: 071-310-69-69
                +e.bottom
                  +e('span')
                    +e('img')(src='assets/images/like.svg' alt='')
                    | Нравится 96
                  +e('span')
                    +e('img')(src='assets/images/chat.svg' alt='')
                    | Комментировать 5
                  +e('span')
                    +e('img')(src='assets/images/speaker-side-view.svg' alt='')
                    | 4
              +b.vr-card
                +e.head
                  +e.head-image
                    +e('img')(src='assets/images/vr_card_image.png' alt='')
                  +e.name-time
                    +e('p').name Дмитрий Иванов
                    +e('span').time 2 минуты назад
                +e('p').text Ресторану-пивоварне «Beerstown” требуются официанты. Проживание желательно в Будённовском
                  | или Пролетарском р-не г.Донецка. Все вопросы по телефону: 071-310-69-69
                +e.bottom
                  +e('span')
                    +e('img')(src='assets/images/like.svg' alt='')
                    | Нравится 96
                  +e('span')
                    +e('img')(src='assets/images/chat.svg' alt='')
                    | Комментировать 5
                  +e('span')
                    +e('img')(src='assets/images/speaker-side-view.svg' alt='')
                    | 4
              +b.vr-card
                +e.head
                  +e.head-image
                    +e('img')(src='assets/images/vr_card_image.png' alt='')
                  +e.name-time
                    +e('p').name Дмитрий Иванов
                    +e('span').time 2 минуты назад
                +e('p').text Ресторану-пивоварне «Beerstown” требуются официанты. Проживание желательно в Будённовском
                  | или Пролетарском р-не г.Донецка. Все вопросы по телефону: 071-310-69-69
                +e.bottom
                  +e('span')
                    +e('img')(src='assets/images/like.svg' alt='')
                    | Нравится 96
                  +e('span')
                    +e('img')(src='assets/images/chat.svg' alt='')
                    | Комментировать 5
                  +e('span')
                    +e('img')(src='assets/images/speaker-side-view.svg' alt='')
                    | 4
              +b.vr-card
                +e.head
                  +e.head-image
                    +e('img')(src='assets/images/vr_card_image.png' alt='')
                  +e.name-time
                    +e('p').name Дмитрий Иванов
                    +e('span').time 2 минуты назад
                +e('p').text Ресторану-пивоварне «Beerstown” требуются официанты. Проживание желательно в Будённовском
                  | или Пролетарском р-не г.Донецка. Все вопросы по телефону: 071-310-69-69
                +e.bottom
                  +e('span')
                    +e('img')(src='assets/images/like.svg' alt='')
                    | Нравится 96
                  +e('span')
                    +e('img')(src='assets/images/chat.svg' alt='')
                    | Комментировать 5
                  +e('span')
                    +e('img')(src='assets/images/speaker-side-view.svg' alt='')
                    | 4
              +b.vr-card
                +e.head
                  +e.head-image
                    +e('img')(src='assets/images/vr_card_image.png' alt='')
                  +e.name-time
                    +e('p').name Дмитрий Иванов
                    +e('span').time 2 минуты назад
                +e('p').text Ресторану-пивоварне «Beerstown” требуются официанты. Проживание желательно в Будённовском
                  | или Пролетарском р-не г.Донецка. Все вопросы по телефону: 071-310-69-69
                +e.bottom
                  +e('span')
                    +e('img')(src='assets/images/like.svg' alt='')
                    | Нравится 96
                  +e('span')
                    +e('img')(src='assets/images/chat.svg' alt='')
                    | Комментировать 5
                  +e('span')
                    +e('img')(src='assets/images/speaker-side-view.svg' alt='')
                    | 4
              +b.vr-card
                +e.head
                  +e.head-image
                    +e('img')(src='assets/images/vr_card_image.png' alt='')
                  +e.name-time
                    +e('p').name Дмитрий Иванов
                    +e('span').time 2 минуты назад
                +e('p').text Ресторану-пивоварне «Beerstown” требуются официанты. Проживание желательно в Будённовском
                  | или Пролетарском р-не г.Донецка. Все вопросы по телефону: 071-310-69-69
                +e.bottom
                  +e('span')
                    +e('img')(src='assets/images/like.svg' alt='')
                    | Нравится 96
                  +e('span')
                    +e('img')(src='assets/images/chat.svg' alt='')
                    | Комментировать 5
                  +e('span')
                    +e('img')(src='assets/images/speaker-side-view.svg' alt='')
                    | 4
              +b.vr-card
                +e.head
                  +e.head-image
                    +e('img')(src='assets/images/vr_card_image.png' alt='')
                  +e.name-time
                    +e('p').name Дмитрий Иванов
                    +e('span').time 2 минуты назад
                +e('p').text Ресторану-пивоварне «Beerstown” требуются официанты. Проживание желательно в Будённовском
                  | или Пролетарском р-не г.Донецка. Все вопросы по телефону: 071-310-69-69
                +e.bottom
                  +e('span')
                    +e('img')(src='assets/images/like.svg' alt='')
                    | Нравится 96
                  +e('span')
                    +e('img')(src='assets/images/chat.svg' alt='')
                    | Комментировать 5
                  +e('span')
                    +e('img')(src='assets/images/speaker-side-view.svg' alt='')
                    | 4
              +b.vr-card
                +e.head
                  +e.head-image
                    +e('img')(src='assets/images/vr_card_image.png' alt='')
                  +e.name-time
                    +e('p').name Дмитрий Иванов
                    +e('span').time 2 минуты назад
                +e('p').text Ресторану-пивоварне «Beerstown” требуются официанты. Проживание желательно в Будённовском
                  | или Пролетарском р-не г.Донецка. Все вопросы по телефону: 071-310-69-69
                +e.bottom
                  +e('span')
                    +e('img')(src='assets/images/like.svg' alt='')
                    | Нравится 96
                  +e('span')
                    +e('img')(src='assets/images/chat.svg' alt='')
                    | Комментировать 5
                  +e('span')
                    +e('img')(src='assets/images/speaker-side-view.svg' alt='')
                    | 4
              +b.vr-card
                +e.head
                  +e.head-image
                    +e('img')(src='assets/images/vr_card_image.png' alt='')
                  +e.name-time
                    +e('p').name Дмитрий Иванов
                    +e('span').time 2 минуты назад
                +e('p').text Ресторану-пивоварне «Beerstown” требуются официанты. Проживание желательно в Будённовском
                  | или Пролетарском р-не г.Донецка. Все вопросы по телефону: 071-310-69-69
                +e.bottom
                  +e('span')
                    +e('img')(src='assets/images/like.svg' alt='')
                    | Нравится 96
                  +e('span')
                    +e('img')(src='assets/images/chat.svg' alt='')
                    | Комментировать 5
                  +e('span')
                    +e('img')(src='assets/images/speaker-side-view.svg' alt='')
                    | 4
              +b.vr-card
                +e.head
                  +e.head-image
                    +e('img')(src='assets/images/vr_card_image.png' alt='')
                  +e.name-time
                    +e('p').name Дмитрий Иванов
                    +e('span').time 2 минуты назад
                +e('p').text Ресторану-пивоварне «Beerstown” требуются официанты. Проживание желательно в Будённовском
                  | или Пролетарском р-не г.Донецка. Все вопросы по телефону: 071-310-69-69
                +e.bottom
                  +e('span')
                    +e('img')(src='assets/images/like.svg' alt='')
                    | Нравится 96
                  +e('span')
                    +e('img')(src='assets/images/chat.svg' alt='')
                    | Комментировать 5
                  +e('span')
                    +e('img')(src='assets/images/speaker-side-view.svg' alt='')
                    | 4
              +b.vr-card
                +e.head
                  +e.head-image
                    +e('img')(src='assets/images/vr_card_image.png' alt='')
                  +e.name-time
                    +e('p').name Дмитрий Иванов
                    +e('span').time 2 минуты назад
                +e('p').text Ресторану-пивоварне «Beerstown” требуются официанты. Проживание желательно в Будённовском
                  | или Пролетарском р-не г.Донецка. Все вопросы по телефону: 071-310-69-69
                +e.bottom
                  +e('span')
                    +e('img')(src='assets/images/like.svg' alt='')
                    | Нравится 96
                  +e('span')
                    +e('img')(src='assets/images/chat.svg' alt='')
                    | Комментировать 5
                  +e('span')
                    +e('img')(src='assets/images/speaker-side-view.svg' alt='')
                    | 4

