extends ../components/layout-default/layout-index
include ../components/header/header
include ../components/all-vacancies/all-vacancies

block head
  - var pageTitle = 'Index Page';

block content
  +header()
  +all-vacancies()
