extends ../components/layout-default/layout-index
include ../components/header/header
include ../components/all-performers/all-performers
include ../components/footer/footer

block head
  - var pageTitle = 'Index Page';

block content
  +header()
  +all-performers()
  +footer()
