extends ../components/layout-default/layout-index
include ../components/header/header
include ../components/all-resume/all-resume
include ../components/footer/footer

block head
  - var pageTitle = 'Index Page';

block content
  +header()
  +all-resume()
  +footer()
