extends ../components/layout-default/layout-index
include ../components/header/header
include ../components/all-tasks/all-tasks
include ../components/footer/footer

block head
  - var pageTitle = 'Index Page';

block content
  +header()
  +all-tasks()
  +footer()
