extends ../components/layout-default/layout-index
include ../components/header/header
include ../components/resume/resume
include ../components/footer/footer

block head
  - var pageTitle = 'Index Page';

block content
  +header()
  +resume()
  +footer()
