extends ../components/layout-default/layout-index
include ../components/header/header
include ../components/single-task/single-task
include ../components/footer/footer

block head
  - var pageTitle = 'Index Page';

block content
  +header()
  +single-task()
  +footer()
