mixin home()
  +b('section').home
    +e.aside
      +e.aside-header
        +b.logo
          +e.img
            +e('img').main(src='assets/images/logo.png' alt='')
            +e('img').info(src='assets/images/ico-i.png' alt='')
          +e('span').text Актуальных вакансий сейчас
        +e('span').aside-header-vacancy Вакансии дня
      +e.slider
        - for (var i = 0; i < 5; i++)
          +b.single-card
            +e.tr
            div
              a.btn-card.btn-card-small.btn-gray(href='#') Мода и стиль
            +e('h3').title.mt5.mb0 Рюкзак из натуральной крокодильей кожи, размеры 30х35 см
            +e.info-second
              span.mr10 Добавлено: 19 марта 2018, 17:15
              +e.view
                +e('img').icon.mr5(src='assets/images/icon-eye.png' alt='')
                span 255
              a.d-flex.align-items-center.ml-auto.mt5.mb5(href='#')
                +e('img').icon(src='assets/images/arr-place.png' alt='')
                span.ml5 Санкт - Петербург
            +e.info
              p Размер: 30/35см
              p Материал: натуральная кожа супер качество!
              p Форму держит, на змейке внутри, носиться как сумкой так и рюкзаком!
              p Цвет: чёрная
            .d-flex.flex-wrap.align-items-center.justify-content-end.mt-auto
              +e('a').like.mt5.mb5(href='#')
                i.fa.fa-heart-o
                span В избранное
              a.btn-card.btn-red.mt5.mb5.ml15 Посмотреть полностью
    +e.main
    +e.footer
      -
        var footer = [
          'IT, компьютеры, интернет 28',
          'Администрация, руководство среднего звена 23',
          'Бухгалтерия, аудит 13'
        ]
      - for (var i = 0; i < 3; i++)
        each item in footer
          +e('a').footer-item(href='#')= item
    +e('img').dots1(src='assets/images/bg-dots.png' alt='')
    +e('img').dots2(src='assets/images/bg-dots.png' alt='')
    +e('img').emblem(src='assets/images/img2.png' alt='')
    +e.circle
