mixin home()
  +b('section').home
    +e.aside
      +e.aside-header
        +b.logo
          +e.img
            +e('img').main(src='assets/images/logo.png' alt='')
            +e('img').info(src='assets/images/ico-i.png' alt='')
          +e('span').text Актуальных вакансий сейчас
        +e('span').aside-header-vacancy Вакансии дня
      +e.slider
        - for (var i = 0; i < 5; i++)
          +b.single-card
            +e.tr
            div
              a.btn-card.btn-card-small.btn-gray(href='#') Бухгалтерия, аудит
            +e('h3').title.mt5.mb0 Руководитель финансового отделения
            +e.info-second
              span.mr10 Добавлено: 19 марта 2018, 17:15
              +e.view
                +e('img').icon.mr5(src='assets/images/icon-eye.png' alt='')
                span 255
              a.d-flex.align-items-center.ml-auto.mt5.mb5(href='#')
                +e('img').icon(src='assets/images/arr-place.png' alt='')
                span.ml5 Донецк
            +e.info
              p Работа в транспортной компании:
              p - ведение плана счетов, авансовых отчетов, кассы- помощь финансистам.
              p -участие в расчете себестоимости, коммерческих предложений
              p Занятость: полная
            .d-flex.flex-wrap.align-items-center.justify-content-end.mt-auto
              +e('a').like.mt5.mb5(href='#')
                i.fa.fa-heart-o
                span В избранное
              a.btn-card.btn-red.mt5.mb5.ml15 Посмотреть полностью
    +e.main
      +b.white-line
        +e.square
      +b.white-line
        +e.square
        +e.square
      +b.white-line
        +e.square
      +b.white-line
        +e.square
      +b.white-line
        +e.square
        +e.square
      +e.main-top
        +e.main-header
          +e('nav').nav
            +e('a').nav-item(href='index.html') Главная
            +e('a').nav-item(href='resume.html') Резюме
            +e('a').nav-item(href='all-resume.html') Поиск резюме
            //+e('button').nav-item.jsLogin Вход
            +b.dropdown.jsMenu
                            +b('span').home__nav-item.jsOpenMenu User
                            +e.menu.jsShowMenu
                              +b('a')(href='/personal-area').home__nav-item Личный кабинект
                              +b('a')(href='/personal-area').home__nav-item Выйти
          +e.main-email.d-flex.align-items-center
            +e('span').main-ico @
            a(href='mailto:info@vendoram.ru') info@vendoram.ru
          .d-flex.align-items-center
            +e('i').main-ico.fa.fa-phone
            .d-flex.flex-column
              a(href='tel:88003553505') +8 800 355-35-05
              +e('a').callback(href='#') Заказать обратный звонок
        +e.main-content
          +e('form').form
            +e('input').form-input(placeholder='Я ищу...')
            +e.form-select
              +e('select').form-select-js
                option
                - for (var i = 1; i < 4; i++)
                  option= `Пункт ${i}`
            +e('button').search.btn-red(type='submit')
              i.fa.fa-search
          a.btn.btn-red.mr20(href='#') разместить резюме
          a.btn.btn-red(href='all-vacancies.html') Найти вакансии
      +e.main-bottom
        +e.main-circle
        +e('h1').title Работа
        +e('p').desc Сделайте грамотный выбор! Предлагаем размещение и продвижение на новой и перспективной площадке <span class="c-red">РаботаДНР</span>. Станьте первым и получайте максимум продаж, опережая конкурентов на несколько шагов. Полностью берем на себя все, что связано с размещением на маркетплейсе, эффективно управляем ценами и поставками
        +e('img').main-bottom-img(src='assets/images/img1.png' img='')
    +e.footer
      -
        var footer = [
          'IT, компьютеры, интернет 28',
          'Администрация, руководство среднего звена 23',
          'Бухгалтерия, аудит 13'
        ]
      - for (var i = 0; i < 3; i++)
        each item in footer
          +e('a').footer-item(href='#')= item
    +e('img').dots1(src='assets/images/bg-dots.png' alt='')
    +e('img').dots2(src='assets/images/bg-dots.png' alt='')
    +e('img').emblem(src='assets/images/img2.png' alt='')
    +e.circle
