mixin header()
  +b('header').header-wrap.jsHeaderIndex
    //+e('img')(src='assets/images/dots__small.png' alt='').dots
    +e('img')(src='assets/images/img2.png' alt='').emblem
    .container
      +b.header
        +b.home__main-top
          +e.main-header
            +b('button').mobile-nav-btn.jsOpenNavMenu
              +e('span')
              +e('span')
              +e('span')
            +b.filter-overlay.nav-overlay.jsNavOverlay
            +e('nav').nav.jsNavMenu
              +e('a').nav-item(href='index.html') Главная
              +e('a').nav-item(href='resume.html') Резюме
              +e('a').nav-item(href='all-resume.html') Поиск резюме
              //+e('button').nav-item.jsLogin Вход
              +b.dropdown.jsMenu
                +b('span').home__nav-item.jsOpenMenu User
                +e.menu.jsShowMenu
                  +b('a')(href='/personal-area').home__nav-item Личный кабинект
                  +b('a')(href='/personal-area').home__nav-item Выйти
            +e.main-email.d-flex.align-items-center
              +e('span').main-ico @
              a(href='mailto:info@vendoram.ru') info@vendoram.ru
            .d-flex.align-items-center
              +e('i').main-ico.fa.fa-phone
              .d-flex.flex-column
                a(href='tel:88003553505') +8 800 355-35-05
                +e('a').callback(href='#') Заказать обратный звонок
          +e.main-content
            +e('form').form
              +e('input').form-input(placeholder='Я ищу...')
              +e.form-select
                +e('select').form-select-js
                  option
                  - for (var i = 1; i < 4; i++)
                    option= `Пункт ${i}`
              +e('button').search.btn-red(type='submit')
                i.fa.fa-search
            a.btn.btn-red.mr20(href='#') разместить резюме
            a.btn.btn-red(href='all-vacancies.html') Найти вакансии
