@import "../../shared/sass/imports"


.resume, .single-vacancy
  + .footer
    @media (max-width: 1250px)
      position: absolute
      bottom: 0
      left: 28%
      z-index: 4

    @media (max-width: 993px)
      position: absolute
      bottom: 0
      left: 28%
      margin: 1em

.single-vacancy
  + .footer
    @media (max-width: 1500px)
      position: absolute
      bottom: 0
      left: 55%
      z-index: 4
      margin-bottom: 0





.footer
  position: absolute
  bottom: 0
  left: 55%
  margin: 1em
  width: 30%
  display: block

  &__craft-link
    text-decoration: none
    color: #ff0200!important
    font-size: 12px
    padding-left: 25px
    margin-left: 5px
    @media (max-width: 699px)
      display: block
      line-height: 0.9


    &:before
      content: ""
      position: absolute
      left: 0
      top: -2px
      height: 20px
      width: 20px
      background: url('../images/craft-red.png') no-repeat 50%
      -webkit-background-size: contain
      background-size: contain
    @media (max-width: 993px)
      font-size: 10px
