mixin single-vacancy()
  +b('section').single-vacancy
    +e('img')(src='assets/images/bg-dots.png' alt='').dots2
    +e.circle
    +b.container
      +b('p').result-search Результаты поиска · Вакансии  в Донецке
        +e('span') Менеджер по холодным звонкам
      +b.single-block.single-block-slider
        +b('button').mobile-contacts.jsShowContacts.jsShowContactsFlag
          +e('img')(src='assets/images/add-contact.svg' alt='')
        +e.left
          +e.first
            +b.category-block
              +b('a')(href='#').btn-card.btn-card-small.btn-gray Администрация
            +e('span') Добавлено:<br> 19 марта 2018, 17:15
            +e.view
              +e('img').icon.mr5(src='assets/images/icon-eye.png' alt='')
              span 255
            +e('a')(href='#').city.d-flex.align-items-center.ml-auto.mt5.mb5
              +e('img').icon(src='assets/images/arr-place.png' alt='')
              span.ml5 Санкт-Петербург
          +e('h3').head Менеджер по продажам (холодные звонки)
          +e.price
            +e('span') 8000 руб.
            +e.soc
              +e('span') Написать соискателю в сетях
              +b('a')(href='#').vk-bg
                +e('img')(src='assets/images/vk.svg' alt='')
              +b('a')(href='#').ok-bg
                +e('img')(src='assets/images/ok.svg' alt='')
              +b('a')(href='#').fb-bg
                +e('img')(src='assets/images/fb.svg' alt='')
          +e.employment
            +e('h3').employment-head Вид занятости:
            +e('p').employment-text Полная занятость
          +e.description
            +e('h3').description-head Описание вакансии
            +e('p').description-text Bernas Company приглашает целеустремленных и активных людей на должность менеджера по продажам
            +e('p').description-text Занимаемся продажей рекламных мест в поисковых системах
            +e('p').description-text Яндекс и Гугл. Наш сайт: ppp24.ru
          +e.requirements
            +e('h3').requirements-head Требования:
            +e('p').requirements-text - Возраст от 22 - 25 лет.
            +e('p').requirements-text - Грамотная речь, четкая дикция.
            +e('p').requirements-text - Знание ПК, Интернет, почта.
            +e('p').requirements-text - Приветствуется опыт работы в телефонных продажах.
            +e('p').requirements-text - Желание активно работать и хорошо зарабатывать.
            +e('p').requirements-text - Желание развиваться в профессиональном плане.
          +e.duties
            +e('h3').duties-head Обязаности
            +e('p').duties-text Поиск клиентов в интернете и добавление их в свою базу.
            +e('p').duties-text Исходящие звонки клиентам (холодные звонки, IP телефония)
            +e('p').duties-text Работа по скрипту (Знакомство-Презентация-Заключение договора-Оплата)
            +e('p').duties-text Соблюдение стандартов компании — за это выплачивается дополнительный бонус.
          +e.conditions
            +e('h3').conditions-head Условия работы:
            +e('p').conditions-text Работа в офисе (офис в районе АС Центр — удобное расположение).
            +e('p').conditions-text Заработная плата — ставка от 11 000 рублей до 40 000 руб. Ставка зависит от объема продаж.
            +e('p').conditions-text Выплата дохода — 2 раза в месяц.
            +e('p').conditions-text Предусмотрена 13-я зарплата.
            +e('p').conditions-text График работы: пн-пт, с 08:00—16:00, сб-вс выходной.
            +e('p').conditions-text Дружный молодой коллектив.
        +e.right.sidebar-single.jsOpenContacts#sidebar-single
          +b.single-vacancy-overlay.jsHideContacts
          +b.sidebar-inner
            +b('button').mobile-contacts.sidebar-mobile-contacts.jsShowContacts
              +e('img')(src='assets/images/add-contact.svg' alt='')
            +b.sr-block
              +e.image
                +e('img')(src='assets/images/logo_company.svg' alt='')
              +e.text
                +e('h3').text__company Компания:
                +e('p').text__c-name Bernas Company
                +e('p').text__c-name Маркетинг, реклама
                +e('h3').text__contact Контактное лицо:
                +e('p').text__cont-name Юлия
                +e('h3').text__phone Телефон:
                +e('a')(href='tel:0508798669').text__p-num 050-879-86-69
                +e('a')(href='tel:0713406501').text__p-num 071-340-65-01
            +b.sr-btn
              +e('button').btn.btn.btn-red.jsVacancyModal Отправить резюме
              +e('p').text Вакансия опубликована
              +e('p').text 16 января 2019 в Донецке
