include ../../../node_modules/bemto.pug/bemto
include ../../components/modal-block/modal-block

doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, minimal-ui')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')

    block head
    title= pageTitle || ''

    link(href='assets/libs/bootstrap/bootstrap-grid.min.css' rel='stylesheet')
    link(href='assets/libs/slick/slick.css' rel='stylesheet')
    link(href='assets/libs/font-awesome-4.7.0/css/font-awesome.css' rel='stylesheet')
    link(href='assets/libs/select2/select2.min.css' rel='stylesheet')
    link(href='assets/css/style.css' rel='stylesheet')
  body
    .root
      block content
      +modal-block()
    script(src='assets/libs/jquery-3.3.1.min.js')
    script(src='assets/libs/resizeSensor.js')
    script(src='assets/libs/jquery.sticky-kit.js')
    script(src='assets/libs/slick/slick.min.js')
    script(src='assets/libs/select2/select2.min.js')
    script(src='assets/js/script.js')
